html, body {
  font-family: Arial,  sans-serif;
   background-color: lightblue;
   margin:0;
     height:1000px;
     position:relative
     font-style:italic;
}
.col-md-6 {
  color:white;
}
h1 {
  text-align: center;
  color: Gray;
}
#player2-roll {
  background-color: green;
  color: black;
}
#player1-hold {
  background-color: green;
  color: black;
}
#player2-hold {
  background-color: green;
  color: black;
}
#start {
  color: white;
  background-color: blue;
}#new-game {
  background-color: blue;
  color: white;
  float: right;
}
#player1-roll {
  background-color: green;
  color: black;
}
